
@import url('./assets/constants/styles/variables.scss');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,800;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

button,
a {
  &:hover {
    filter: brightness(1.2);
  }
}

.fadeIn {
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
